<html>

<head></head>

<body>
    <form action="addattribute.html" method="GET">
        <label for="productname">product name:</label>
        <input type="text" name="productname" size="50">
        <br>
        <br>
        <br> quantity:

        <input type="text" name="quantitylabel"> price: <input type="number" name="price"> attibutes: <select>

                
                <option value="class">class</option>
                <option value="name">name</option>
                
              </select>
        <button type="submit" name="attradd">add another attr</button>


    </form>
    <button type="submit" name="submit">submit </button>


</body>

</html>